@font-face {
  font-family: 'Steppe';
  src: url('/src/assets/fonts/Steppe-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Steppe';
  src: url('/src/assets/fonts/Steppe-ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
